<!DOCTYPE html>
<html>
  <head>
    <title>Taskapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= image_tag("Golang.png", :size => "120x40")%>
  <body>
    <%= yield %>
	</body>
	<%= link_to "Home", "/" %>
	<%= link_to "projects", projects_path %>
</html>
